<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>MortgageMapPreciseLocation</key>
		<string>Точная геолокация нужна, чтобы центрировать карту на вашей текущей позиции.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Приложение использует геолокацию, чтобы показать вашу текущую позицию на карте недвижимости.</string>
</dict>
</plist>
